<a href="index.php" id="menu1">Accueil</a>

#menu1
{
	position: absolute;
	height: 10%; width: 100%;
	background-image: url('photo/HP.jpg');
	background-size: auto;
	background-repeat: no-repeat;
}

a#menu1
{
	margin: 5em;
	padding: 10em;
}

#menu1 a
{
	font-size: 200px;
}